<app-breadcrumb [itens]="[{text: 'Categorias', link: '/categories'}, {text: pageTitle}]"></app-breadcrumb>
<app-header [page-title]="pageTitle" button-class="btn-light" button-link="/categories" button-text="<< Voltar"></app-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informaçoes sobre a categoria
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
            <div *ngIf="resourceForm.get('name').errors.required">Dado Obrigatorio</div>
          </div>
        </div>
        <div class="form-group col-md-8">
          <label for="description">Descriçao</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no servidor</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{ error }}</li>
    </ul>
  </div>

  <button type="submit" class="btn btn-lg btn-primary mt-3 float-right"
          [disabled]="submittingForm || resourceForm.invalid">Salvar</button>
</form>
